<!-- 
Script name: tableChosen.html
Description: Resolution of code.
Script author: Sarah Dunbar
Date created: 6/24/21
Last modified: 6/25/21
 -->
 <!doctype html>
 <html>
     <body>
         {% include 'navBarCode.html' %}
     </body>
     <body>
         <div class="row">
            {% include 'tableCode.html' %}
            <div class="col-md-6 container-search">
                    {% include 'searchbarCode.html' %}
                    {% include 'resultsCode.html' %}
            </div>
        </div>
     </body>
 </html>


